* {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-image: url('https://aos.iacpublishinglabs.com/question/aq/1400px-788px/distance-shore-international-waters_3aa7af4957e07f56.jpg?domain=cx.aos.ask.com');
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}


h1 {
  position:relative;
  margin-top: 100px;
  text-align: center;
  font-family: 'Lobster', cursive;
}

.square {
  font-family: Baskerville, serif;
  font-size: 60px;
  text-align: center;
  border: 3px solid black;
  width: 100px;
  height: 100px;
  cursor: pointer;
}

.tictactoe {
  width: 300px;
  height: 300px;
  margin: auto;
  border-collapse: collapse;
}

.x {
  color: red;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(30,30,30,0.8);
}

.popup-box {
  width: 400px;
  height: 50px;
  background-color: #C3C9FD;
  display: block;
  position: relative;
  overflow: hidden;
  margin: auto;
  margin-top: 300px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.message {
  width: 60%;
  font-family: 'Lobster', cursive;
  margin: auto;
  text-align: right;
  font-size: 30px;
  line-height: 50px;
  display: inline-block;
  position: relative;
  float: left;
}

.play-again {
  font-family: Baskerville, serif;
  text-align: center;
  margin-left: 20px;
  margin-top: 7px;
  font-size: 15px;
  position: relative;
  display: inline-block;
  line-height: 30px;
}
